<%= form_for @topic, :html => { :class => "topic" } do |f| %>

  <%= render "layouts/error_messages", resource: @topic %>

  <div class="input-field">
    <%= f.text_field :title, :class => 'validate' %>
    <%= f.label :title %>
  </div>
  <div class="input-field" ng-controller="tagsCtrl">
    <%= text_field_tag :tag_names, @topic.tags.pluck(:name).join(","), class: "validate", data: { role: "tagsinput" } %>
    <%= label_tag :tag_names, "Tags" %>
  </div>
  <div class="input-field">
    <%= f.url_field :source_url, class: 'validate', placeholder: "Optional: Fill in the url if you got this topic from somewhere in the Internet." %>
    <%= f.label :source_url, "data-error" => "invalid URL" %>
  </div>

  <div class="card-action">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              topics_path, :class => 'btn btn-default' %>
  </div>

<% end %>
