<% card_title ||= "Search Topic" %>
<div class="card grey lighten-4">
  <div class="card-content">
    <span class="card-title"><%= card_title %></span>
    <%= form_tag(request.path_info, method: :get, role: "form") do |f| %>
      <div class="input-field">
        <%= text_field_tag :title, q[:title], class: "validate", autofocus: true %>
        <%= label_tag :title, "Title" %>
      </div>
      <div class="input-field" ng-controller="tagsCtrl">
        <%= text_field_tag :tag_names, q[:tag_names], class: "validate", data: { role: "tagsinput" } %>
        <%= label_tag :tag_names, "Tags" %>
      </div>
      <div class="card-action">
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <%= link_to "Clear", request.path_info, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
