<dl class="topic dl-horizontal">
  <dt><strong><%= Topic.human_attribute_name(:title) %>:</strong></dt>
  <dd><div class="title"><%= topic.title %></div></dd>
  <dt><strong><%= Topic.human_attribute_name(:tags) %>:</strong></dt>
  <dd><div class="tags"><%= tags_to_label(topic.tags) %></div></dd>
  <dt><strong><%= Topic.human_attribute_name(:source) %>:</strong></dt>
  <dd><%= link_to_source(topic) %></dd>
</dl>

<div class="row">
  <div class="raito-fix col-sm-4 col-sm-offset-4">
    <div id="cq-timer">
      <canvas id="cq-timer-canvas"></canvas>
      <div id="cq-timer-seconds-wrap">
        <div id="cq-timer-seconds">
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag topic_with_done_path(next_topic), method: :post do %>
  <%= hidden_field_tag "done_topic_id", topic.id %>
  <div class="text-center">
    <%= link_to "Topics list", topics_path, class: "btn btn-primary" %>
    <%= link_to topic_path(next_topic), class: "btn btn-default" do %>
      Skip <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
    <%= button_tag type: "submit", class: "btn btn-success" do %>
      Done <span class="glyphicon glyphicon-ok"></span>
    <% end %>
  </div>
<% end %>
