<%- model_class = Topic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render partial: "topics/search", locals: { q: @q } %>

<%= page_entries_info @topics %>

<table class="topic-table table table-striped">
  <thead class="row">
    <tr>
      <th>
        <div class="col-sm-6 col-xs-12">Title</div>
        <div class="col-sm-2 col-xs-12">Tags</div>
        <div class="col-sm-2 col-xs-12">Ratings</div>
        <div class="col-sm-2 col-xs-12">Created at</div>
      </th>
    </tr>
  </thead>
  <tbody class="row">
    <% @topics.each do |topic| %>
    <tr>
      <td>
        <div class="title col-sm-6 col-xs-12"><p><%= link_to topic.title, topic %></p></div>
        <div class="col-sm-2 col-xs-12"><%= tags_to_label(topic) %></div>
        <div class="col-sm-2 col-xs-12"><%= render partial: "topics/ratings", locals: { ratings: topic.ratings, verbose: true } %></div>
        <div class="col-sm-2 col-xs-12"><%= topic.created_at.in_time_zone(user_time_zone) %></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @topics %>

<%= # link_to t('.new', :default => t("helpers.links.new")),
    #         new_topic_path,
    #         :class => 'btn btn-primary'
%>
