<%- model_class = Topic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= page_entries_info @topics %>

<table class="topic-table table table-striped">
  <thead>
    <tr>
      <th class="row">
        <div class="col-sm-7 col-xs-12">Title</div>
        <div class="col-sm-2 col-xs-12">Tags</div>
        <div class="col-sm-1 col-xs-12">Source</div>
        <div class="col-sm-2 col-xs-12">Created at</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td class="row">
        <div class="title col-sm-7 col-xs-12"><p><%= link_to topic.title, topic %></p></div>
        <div class="col-sm-2 col-xs-12"><%= tags_to_label(topic) %></div>
        <div class="col-sm-1 col-xs-12"><%= link_to_source(topic) %></div>
        <div class="col-sm-2 col-xs-12"><%= topic.created_at %></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @topics %>

<%= # link_to t('.new', :default => t("helpers.links.new")),
    #         new_topic_path,
    #         :class => 'btn btn-primary'
%>
