<%- model_class = Topic -%>
<div class="page-header">
  <h1>
  <% if @user.nil? %>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  <% else %>
    <%= @user.name %>'s Topics
  <% end %>
  </h1>
</div>

<% panel_title = "Search #{@user.name}'s Topics" if @user.present? %>
<%= render partial: "topics/search", locals: { q: @q, panel_title: panel_title } %>

<div>
  <p>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-primary' %>
  </p>
</div>

<p>
  <%= page_entries_info @topics %>
</p>

<%= render partial: "topics" %>

<%= paginate @topics %>

<% if @user.present? %>
<div>
  <p>
    <%= link_to user_path(@user.account), class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-chevron-left"></span> @<%= @user.account %>
    <% end %>
  </p>
</div>
<% end %>
