<div class="page-header">
  <h1><%=t '.title', :default => Topic.model_name.human.titleize %></h1>
</div>

<%= render partial: "topic_show", locals: { topic: @topic } %>
<%= render partial: "topic_timer", locals: { topic: @topic, next_topic: @next_topic } %>

<p>
  <%= link_to t('.back', :default => t("helpers.links.back")),
                topics_path, :class => 'btn btn-default'  %>
  <% if @topic.by_user?(current_user) %>
  <%= link_to "Edit", edit_topic_path(@topic), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                topic_path(@topic),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger'
  %>
  <% end %>
</p>
