<div class="page-header">
  <h1><%= @user.name %> <small>@<%= @user.account %></small></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>
  <dt>Account:</dt>
  <dd>@<%= @user.account %></dd>
</dl>

<% if user_signed_in? && @user.id === current_user.id %>
<div>
  <p>
    <%= link_to edit_user_registration_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-cog"></span> settings
    <% end %>
  </p>
</div>
<% end %>

<h2>Done Topics</h2>

<table class="topic-table table table-striped">
  <thead class="row">
    <tr>
      <th>
        <div class="col-sm-5 col-xs-12">Title</div>
        <div class="col-sm-2 col-xs-12">Tags</div>
        <div class="col-sm-2 col-xs-12">Ratings</div>
        <div class="col-sm-1 col-xs-12">Your Rating</div>
        <div class="col-sm-1 col-xs-12">Times</div>
        <div class="col-sm-1 col-xs-12">Last done on</div>
      </th>
    </tr>
  </thead>
  <tbody class="row">
    <% @histories.each do |history| %>
    <% topic = history.topic %>
    <tr>
      <td>
        <div class="title col-sm-5 col-xs-12"><p><%= link_to topic.title, topic %></p></div>
        <div class="col-sm-2 col-xs-12"><%= tags_to_label(topic) %></div>
        <div class="col-sm-2 col-xs-12"><%= render partial: "topics/ratings", locals: { ratings: topic.ratings, verbose: true } %></div>
        <div class="col-sm-1 col-xs-12"><%= rating_to_iocn(history) %></div>
        <div class="col-sm-1 col-xs-12"><%= history.times %> <%= history.times > 1 ? "times" : "time" %></div>
        <div class="col-sm-1 col-xs-12"><%= history.updated_at.in_time_zone(user_time_zone).strftime("%b %d %Y") %></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
