<div class="page-header">
  <h1><%= @user.name %>'s Histories</h1>
</div>

<%= render partial: "topics/search", locals: { q: @q, card_title: "Search #{@user.name}'s Histories" } %>

<p>
  <%= page_entries_info @histories %>
</p>

<table class="topic-table table table-hover">
  <thead class="row">
    <tr>
      <th>
        <div class="col m5 s12">Title</div>
        <div class="col m2 s12">Tags</div>
        <div class="col m2 s12">Ratings</div>
        <div class="col m1 s12">Your Rating</div>
        <div class="col m1 s12">Times</div>
        <div class="col m1 s12">Last done on</div>
      </th>
    </tr>
  </thead>
  <tbody class="row">
    <% @histories.each do |history| %>
    <% topic = history.topic %>
    <tr data-href="<%= topic_path(topic) %>">
      <td>
        <div class="col m5 s12">
          <p><%= title_with_icon(topic) %></p>
        </div>
        <div class="col m2 s12"><%= tags_to_label(topic) %></div>
        <div class="col m2 s12"><%= render partial: "topics/ratings", locals: { topic: topic, verbose: true } %></div>
        <div class="col m1 s12"><%= rating_to_iocn(history) %></div>
        <div class="col m1 s12"><%= history.times %> <%= history.times > 1 ? "times" : "time" %></div>
        <div class="col m1 s12"><p><%= history.updated_at.in_time_zone(user_time_zone).strftime("%b %d %Y %H:%M") %></p></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @histories %>

<div>
  <p>
    <%= link_to user_path(@user.account), class: "waves-effect waves-light btn" do %>
      <span class="glyphicon glyphicon-chevron-left"></span> @<%= @user.account %>
    <% end %>
  </p>
</div>
