<% target_path = @report.new_record? ? topic_reports_path(@report.topic) : report_path(@report) %>
<%= form_for @report, :html => { :class => "report" }, url: target_path do |f| %>

  <%= render "layouts/error_messages", resource: @report %>

  <div>
    <%= f.hidden_field :topic_id %>
    <%= f.label :topic_id %>
    <div>
      <%= render partial: "topics/topic_show", locals: { topic: @report.topic } %>
    </div>
  </div>
  <div>
    <%= f.label :user_id %>
    <p><%= user_to_link(current_user) %></p>
  </div>
  <div>
    <%= label_tag "reasons[]", "Reasons" %>
    <%= render partial: "reasons_checkboxes", locals: { report: @report } %>
  </div>
  <div class="input-field">
    <%= f.text_area :detail, :class => 'materialize-textarea', maxlength: Report::DETAIL_MAX_LENGTH %>
    <%= f.label :detail %>
  </div>

  <div class="card-action">
    <%= f.submit nil, :class => 'waves-effect waves-light btn light-green lighten-1' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              reports_path, :class => 'waves-effect waves-light btn' %>
  </div>

<% end %>
