<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="report row">
  <dt class="col-xs-12"><h4><%= model_class.human_attribute_name(:topic_id) %>:</h4></dt>
  <dd class="col-sm-12">
    <%= render partial: "topics/topic_show", locals: { topic: @report.topic } %>
  </dd>
  <dt class="col-xs-12"><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd class="col-sm-offset-1 col-sm-11"><%= user_to_link(@report.user) %></dd>
  <dt class="col-xs-12"><strong>Reasons:</strong></dt>
  <dd class="col-sm-offset-1 col-sm-11">
    <%= reasons_to_ul(@report, true) %>
  </dd>
  <dt class="col-xs-12"><strong><%= model_class.human_attribute_name(:detail) %>:</strong></dt>
  <dd class="col-sm-offset-1 col-sm-11">
    <% if @report.detail.present? %>
    <blockquote class="detail"><%= simple_format(h(@report.detail)) %></blockquote>
    <% end %>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              reports_path, :class => 'btn btn-default'  %>
<% if @report.by_user?(current_user) %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_report_path(@report), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              report_path(@report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
